<div class="container">
  <div class="text-center">
      <fa-icon class="fa-2x" [icon]="faUser"></fa-icon>
  </div>
  <hr>
</div>
<form [formGroup]="formUser" (ngSubmit)="onSubmit()" class="user">
  <div class="card-body">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><fa-icon [icon]='faSignature'></fa-icon></span>
          </div>
          <input formControlName="uso_nom" type="text" class="form-control form-control-user" [(ngModel)]="user.uso_nom" [ngClass]="{'is-invalid':submitted && f.uso_nom.errors}" placeholder="Nombre" />
          <div *ngIf=" submitted && f.uso_nom.errors" class="invalid-feedback">
              <div *ngIf="f.uso_nom.errors.requerido">El nombre es requerido</div>
          </div>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><fa-icon [icon]='faEnvelopeOpenText'></fa-icon></span>
          </div>
          <input formControlName="uso_cor" type="text" class="form-control form-control-user" [(ngModel)]="user.uso_cor" [ngClass]="{'is-invalid':submitted && f.uso_cor.errors}" placeholder="Correo" [pattern]="emailPattern" />
          <div *ngIf="submitted && f.uso_cor.errors" class="invalid-feedback">
              <div *ngIf="f.uso_cor.errors.requerido">El correo es requerido</div>
          </div>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><fa-icon [icon]='faUser'></fa-icon></span>
          </div>
          <input formControlName="uso_usu" type="text" class="form-control form-control-user" [(ngModel)]="user.uso_usu" [ngClass]="{'is-invalid':submitted && f.uso_usu.errors}" placeholder="Usuario" />
          <div *ngIf="submitted && f.uso_usu.errors" class="invalid-feedback">
              <div *ngIf="f.uso_usu.errors.requerido">El usuario es requerido</div>
          </div>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><fa-icon [icon]='faKey'></fa-icon></span>
          </div>
          <input formControlName="uso_con" type="password" class="form-control form-control-user" [(ngModel)]="user.uso_con" [ngClass]="{'is-invalid':submitted && f.uso_con.errors}" placeholder="Contraseña" />
          <div *ngIf=" submitted && f.uso_con.errors" class="invalid-feedback">
              <div *ngIf="f.uso_con.errors.requerido">La contraseña es requerida</div>
          </div>
      </div>
      <div class="btn-group">
          <button type="submit" class="btn btn-success">
              <fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar
          </button>
          <button type="reset" (click)="onReset()" class="btn btn-danger">
              <fa-icon [icon]='faTimes'></fa-icon>&nbsp;Cancelar
          </button>
      </div>
  </div>
</form>
<hr>
