<div>
  <div class="row">
    <div class="col-sm">
      <a class="nav-link " routerLink="crear">
        <fa-icon [icon]="faUserPlus"></fa-icon> Crear Producto
      </a>
    </div>
    <div class="col-sm">
      <fa-icon class="fa-2x" [icon]="faListAlt"></fa-icon>
    </div>
  </div>
  <hr>
  <div *ngIf="products.length!=0">
    <div class="row">
        <div class="col-xl-8 col-md-12 col-sm-12 col-12" style="text-align: center;">
          <h5>Listado de Producto</h5>
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Id</th>
                <th>Categoria</th>
                <th>Promoción</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Talla</th>
                <th>Creado</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products">
                <td>{{item.prd_id}}</td>
                <td>{{item.Categoria.cat_nom}}</td>
                <td>{{item.Promocion.prm_nom}}</td>
                <td>{{item.prd_nom}}</td>
                <td>{{ item.prd_img | slice:0:15}}</td>
                <td>{{ item.prd_tal }}</td>
                <td>{{ item.prd_prd_dateOfCreated | date:'longDate' }}</td>
                <td>{{ item.prd_cnt }}</td>
                <td>{{ item.prd_precio }}$</td>
                <td>
                  <div class="btn-group">
                    <button [routerLink]="['/productos/ver',item.prd_id]" class="btn btn-sm btn-info" ><fa-icon [icon]="faEye"></fa-icon></button>
                    <button [routerLink]="['/productos/editar',item.prd_id]" class="btn btn-sm btn-warning"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
                    <button (click)="delete(item)" class="btn btn-sm btn-danger">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
