<div class="row">
  <div class="col-6 col-md-6 col-sm-6">
    <a class="nav-link " routerLink="/tienda">
      <fa-icon [icon]="faList"></fa-icon> Tienda
    </a>
  </div>
  <div class="col-6 col-md-6 col-sm-6">
    <fa-icon class="fa-2x" [icon]="faCartPlus"></fa-icon>
  </div>
</div>
<hr>
<form [formGroup]="formProductInCart" (ngSubmit)="onSubmit()" class="user"
  #imageForm=ngForm>
  <div class="card-body">
    <div class="row row-cols-2" style="align-items: center;">
      <div class="col-12 col-sm-12 col-md-6 ">
        <div class="input-group mb-3" >
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img [src]="imageToShow" style="width: 350px; height:300px">
            </span>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="faPager"></fa-icon>
            </span>
          </div>
          <label class="form-control ">{{ product.prd_id }} </label>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 " style="padding-left: 100px;">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <fa-icon [icon]="faPager"></fa-icon>
                </span>
              </div>
              <!-- <input formControlName="cat_id" type="number" min= "1" max= "5" class="form-control " [(ngModel)]="product.cat_id" placeholder="Categoria" required/> -->
              <select formControlName="car_id" [(ngModel)]="productInCart.car_id" class="form-control" required>
                <option *ngFor="let item of carts" [value]="item.car_id">{{item.car_tipo}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="faPager"></fa-icon>
            </span>
          </div>
          <label class="form-control ">{{ product.prd_nom}} </label>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="faRuler"></fa-icon>
            </span>
          </div>
          <label class="form-control ">{{ product.prd_tal }} </label>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="faTag"></fa-icon>
            </span>
          </div>
          <label class="form-control ">{{ product.prd_crt }} </label>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="faDollarSign"></fa-icon>
            </span>
          </div>
          <label class="form-control ">{{product.prd_precio }} </label>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="faGripVertical"></fa-icon>
            </span>
          </div>
          <input formControlName="pcr_cnt" type="number" min="1" max="{{product.prd_cnt}}"
            class="form-control form-control-user" [(ngModel)]="productInCart.prd_cnt"
            [ngClass]="{'is-invalid': submitted && f.pcr_cnt.errors}" placeholder="Cantidad" />
          <div *ngIf="submitted && f.pcr_cnt.errors" class="invalid-feedback">
            <div *ngIf="f.pcr_cnt.errors.requerido">La cantidad es requerida</div>
          </div>
        </div>
        <div class="btn-group text-center">
          <button type="submit" [disabled]=" !formProductInCart.valid  " class="btn btn-success">
            <fa-icon [icon]="faCartPlus"></fa-icon>&nbsp;Agregar
          </button>
          <button type="reset" routerLink="/tienda" class="btn btn-danger">
            <fa-icon [icon]="faTimes"></fa-icon>&nbsp;Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
