


<div class="container mt-5">
  <google-map width="800" heigth="600" [center]="position">
    <map-marker  [position]="position"
    [label]="label">

    </map-marker>
    </google-map>
  <h2>Formulario de contacto</h2>
  <form [formGroup]="formCorreo" (ngSubmit)="onSubmit()" class="user" >

 <!--  <div class="form-group">
      <label>Asunto</label>
      <input type="email" class="form-control" name="asunto" [(ngModel)]="correo.correo">
    </div>-->
    <div class="form-group">

      <input formControlName="email" type="email" placeholder="Correo"  class="form-control"   [(ngModel)]="correo.correo">
    </div>
    <div class="form-group">

      <input formControlName="asunto" type="text" placeholder="Asunto" class="form-control"  [(ngModel)]="correo.asunto">
    </div>
    <div class="form-group">
     <!--<label>Mensaje</label>-->
      <textarea formControlName="mensaje" class="form-control" placeholder="Mensaje" cols="30" rows="6"  [(ngModel)]="correo.mensaje"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
