<section class="cabezain">
  <img src="assets/img/Captura.JPG" class="img-fluid"
    style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">
  <div class="row px-5 ">
    <div class="col text-center">
      <img src="assets/img/mujer.png" class="img-fluid mt-5"
        style="right: 0; top: 0;  opacity: 1; width: auto; height: 70vh;">
    </div>
    <div class="col pt-5">
      <div>
        <div class="p-lg-4 mt-5 my-5 text-center">
          <h1 class="display-4 font-weight-normal">100% Ecuatoriano</h1>
          <div class="pt-3">
            <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts
              with
              this example based on Apple’s marketing pages.</p>
          </div>
          <div class="pt-5">
            <a class="btn btn-outline-secondary " href="#">Registrate</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="assets/img/hombre.png" class="img-fluid mt-5"
        style="position: absolute; right: 0; top: 0;  opacity: 1;width: auto; height: 70vh;">
    </div>
  </div>
</section>




<section>
  <div class="container-fluid " >
    <div class="row">

      <div class="col-sm  d-flex justify-content-center">
        <div class="card shadow p-3 mb-5" style="width: 350px;">
          <iframe class="card-img-top mt-3" src="assets/img/variedad.svg" frameborder="0"></iframe>
          <div class="card-body text-center">
            <h5 class="card-title pt-3">Variedad</h5>
            <p class="card-text pt-3">Quick sample text to create the card title and make up the body of the card's
              content.</p>
            <div class="pt-3">
              <a href="#" class="btn btn-primary p-2">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm d-flex justify-content-center">
        <div class="card shadow p-3 mb-5" style="width: 350px;">
          <iframe class="card-img-top mt-3" src="assets/img/asistencia.svg" frameborder="0"></iframe>
          <div class="card-body text-center">
            <h5 class="card-title pt-3">Asistencia</h5>
            <p class="card-text pt-3">Quick sample text to create the card title and make up the body of the card's
              content.</p>
            <div class="pt-3">
              <a href="#" class="btn btn-primary p-2">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm  d-flex justify-content-center">
        <div class="card shadow p-3 mb-5" style="width: 350px;">
          <iframe class="card-img-top mt-3" src="assets/img/ahorro.svg" frameborder="0"></iframe>
          <div class="card-body text-center">
            <h5 class="card-title pt-3">Ahorro</h5>
            <p class="card-text pt-3">Quick sample text to create the card title and make up the body of the card's
              content.</p>
            <div class="pt-3">
              <a href="#" class="btn btn-primary p-2">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<section class="pt-5">
  <div class="container principal ">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="row">
          <!--tarjeta 1-->
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card-section border rounded p-3">
              <div class="card-header-first rounded pb-5">
                <h2 class="card-header-title text-white pt-3">Redes Sociales</h2>
              </div>
              <div class="card-body text-center">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit feugiat malesuada,
                  volutpat fermentum eu ac faucibus pellentesque torquent nullam gravida et, ut nam massa purus congue
                  class mi nunc.</p>
              </div>
            </div>
          </div>
          <!--tarjeta 2-->
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card-section border rounded ml-4 mr-4">
              <div class="card-header  rounded">
                <h2 class="card-header-title mb-3 mt-1 text-white">Ventas</h2>
              </div>
              <div class="card-body text-center">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit feugiat malesuada,
                  volutpat fermentum eu ac faucibus pellentesque torquent nullam gravida et, ut nam massa purus congue
                  class mi nunc.</p>
                <br>
                <button class="btn btn-lg btn-secondary">Más info</button>
              </div>
            </div>
          </div>
          <!--tarjeta 3-->
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card-section card-section-third border rounded">
              <div class="card-header card-header-third rounded">
                <h2 class="card-header-title mb-3 text-white">Conectividad</h2>
              </div>
              <div class="card-body text-center mb-2">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit feugiat malesuada,
                  volutpat fermentum eu ac faucibus pellentesque torquent nullam gravida et, ut nam massa purus congue
                  class mi nunc.</p>
                <hr>
                <span><a href="#"><i class="fab fa-bluetooth rounded-circle" aria-hidden="true"></i></a></span>
                <span><a href="#"><i class="fas fa-wifi rounded-circle" aria-hidden="true"></i></a></span>
                <span><a href="#"><i class="fas fa-plug rounded-circle" aria-hidden="true"></i></a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
