<!-----------------------------------------------Footer-------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------->
<!-- Footer -->
<footer class="page-footer font-small footer1 pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left d-flex justify-content-center">
    <!-- Grid row -->
    <div class="row " style="width: 70vw;">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="card-title text-white">Nosotros</h5>
          <p class="text-white text-justify">Palet es una tienda para comprar ropa online en Ecuador.
            Nacemos de la necesidad creciente del mercado por adquirir productos de calidad, a buen precio y en la
            puerta de su casa. </p>
          <div class="pt-3">
            <div class="row">
              <div class="col-sm"><img class="dimred" src="/assets/img/facebook.png" alt="facebook"></div>
              <div class="col-sm"><img class="dimred" src="/assets/img/instagram.png" alt="instagram"></div>
              <div class="col-sm"><img class="dimred" src="/assets/img/whatsapp.png" alt="whatsapp"></div>
            </div>
          </div>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="card-title text-white">Contactanos</h5>
          <div class="content-flex">
            <div class="row">
              <div class="col-2 ">
                <fa-icon class="fa-1x facolor" [icon]="faMapMarkedAlt"></fa-icon>
              </div>
              <div class="col-10 d-flex justify-content-start text-white">
                klsdcjdkjhnjhhhhhhhhhh
              </div>
            </div>
            <div class="row">
              <div class="col">
                <fa-icon class="fa-1x facolor" [icon]="faEnvelopeOpenText"></fa-icon>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <fa-icon class="fa-1x facolor" [icon]="faPhoneAlt"></fa-icon>
              </div>
            </div>
          </div>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="card-title text-white text-center">Cuenta</h5>
        <ul class="list-unstyled p-3">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="row">
    <div class="col-md-12 col-lg-12 text-center d-flex justify-content-center" >
      <div class=" py-3" style="color:white" > © 2020 Copyright:
        <a href="https://mdbootstrap.com/ " style="color:white" class="text-center"> MDBootstrap.com</a>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer



<!------------------------------------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------------------------------------->
