<!-- Toolbar -->
<nav class="navbar navbar-expand-lg headerc ">
  <a class="navbar-brand  text-white" routerLink="/">PortBelly</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link  text-white" routerLink="/tienda">Tienda</a></li>
      <li class="nav-item"><a class="nav-link  text-white" routerLink="/">Inicio</a></li>
      <li class="nav-item"><a class="nav-link  text-white" routerLink="/productos">Productos</a></li>
      <li class="nav-item"><a class="nav-link  text-white" routerLink="/categorias">Categorias</a></li>
      <li class="nav-item"><a class="nav-link  text-white" routerLink="/promociones">Promociones</a></li>
      <li class="nav-item"><a class="nav-link  text-white" routerLink="/carritopersonal">Carrito Personal</a></li>
      <li class="nav-item"><a class="nav-link  text-white" routerLink="/usuario">Usuario</a></li>
      <li class="nav-item"><a class="nav-link  text-white" routerLink="/contactos">contactos</a></li>
    </ul>
    <span class="navbar-text  text-white">
      Compra todo lo que quieras
    </span>
  </div>
</nav>
<div class="container-flex">
  <router-outlet></router-outlet>
  <app-inicio></app-inicio>
</div>

 <app-footer></app-footer>
