<section>
  <div class="container text-center">
    <br>
    <div class="page-header">
        <h4>Pagos <small></small></h4>
    </div>
    <hr>
    <div class="row justify-content-center h-100">
        <div class="col-md-12">
            <app-payment-form [payment]="mainPayment" [title]="mainTitle" (flagToReload)="toReload($event)"></app-payment-form>
        </div>
        <div class="col-md-12">
            <app-payment-list (paymentToUpdate)="toUpdate($event)" [flagToReload]="mainReload" (reloadComplete)="reloadDone($event)"></app-payment-list>
        </div>
    </div>
    <hr>
</div>
</section>
